.content-inv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    padding: 2rem;
    border-radius: 1rem;
}
.positive{
    color: greenyellow;
}
.negative{
    color: red;
}
.alert{
    font-weight: 700;
    font-style: italic;
}
.skills--reduced{
    justify-content: space-between;
    padding: 0;
    border: none;
    li{
        font-size: 1.5rem;
    }
}
.content-charts{
    display: flex;
}