@use 'base/variables' as v;
@use 'base/mixins' as m;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.header-main{
    background-color: v.$grisOscuro;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
@include m.tablet{
    .header-main{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}


.link{
    font-size: 2rem;
    color: v.$blanco;
}
.logo{
    margin: 1rem;
    padding: 0;
    font-weight: 700;
    color: v.$blanco;
}
.menu{
    background-color: v.$indigo;
    font-size: 2rem;
    margin-left: 2rem;
}
.navegacion{
    margin: 0 2rem;
    height: 4rem;
}
.cover{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    background-color: rgba($color: #0b0b0b, $alpha: 0.9);
    @include m.tablet{
        flex-direction: row;
    }
}
.img-container{
    display: flex;
    align-items: center;

    .inner-img{
        position: absolute;
        transform: translate(-125%, -50%);
        max-width: 100%; /* Ensure the inner image doesn't exceed the container */
        max-height: 100%;
    }
}
.card--cover{
    background-color: v.$grisOscuro;
    width: 24rem;
    li{
        background-color: v.$grisOscuro;
    }
}
.cover-desc-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    p{
        max-width: 30rem;
        color: v.$grisClaro;
    }
}