@use 'base/variables' as v;
@use 'base/mixins' as m;

@import "../../../node_modules/bootstrap/scss/bootstrap";

.creaciones_prom{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    @include m.tablet{
        flex-direction: row;
    }
}

.heading_principal{
    margin:2rem;
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
}

.creaciones_img{
    display: flex;
    position: relative;
    width: 100%;
    @include m.tablet{
        width: 40%;
    }
    ::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        pointer-events: none;
    }
}

.creaciones_prom_desc{
    width: 100%;
    @include m.tablet{
        width: 60%;
    }
    padding: 1rem;
    background-color: v.$grisOscuro;
    color: white;
    h2{
        font-size: 2.7rem;
    }
    p{
        color: white;
    }
}

.header-main{
    background-color: v.$grisOscuro;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 1000;
    nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include m.telefono{
            flex-direction: row;
        }
    }
    @include m.telefono{
        position: sticky;
    }
}
@include m.desktop{
    .header-main{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.header-index{
    background-color: v.$grisOscuro;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 1000;
    nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include m.telefono{
            flex-direction: row;
        }
    }
    @include m.telefono{
        position: sticky;
    }
}
@include m.desktop{
    .header-index{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}


.link{
    font-size: 2rem;
    color: v.$blanco;
}
.logo{
    margin: 1rem;
    padding: 0;
    font-weight: 700;
    color: v.$blanco;
}
.enlace-logo{
    text-decoration: none;
}
.menu{
    background-color: v.$indigo;
    font-size: 2rem;
    margin-left: 2rem;
}
.navegacion{
    margin: 0 2rem;
    height: 4rem;
}
.cover{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-color: rgba($color: #0b0b0b, $alpha: 0.9);
    @include m.tablet{
        flex-direction: row;
    }
}
.img-container{
    display: flex;
    align-items: center;

    .inner-img{
        margin: 3rem;
    }
}
.card--cover{
    background-color: v.$grisOscuro;
    width: 24rem;
    li{
        background-color: v.$grisOscuro;
    }
}
.cover-desc-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: rgb(32, 32, 32);
    p{
        max-width: 30rem;
        color: v.$grisClaro;
        text-align: center;
        @include m.tablet{
            text-align: left;
        }
    }
}
.resume{
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    p{
        text-align: justify;
        margin: 2rem 4rem;
        padding: 1rem;
        border: 1px solid v.$grisOscuro;
        border-radius: 2rem;
    }
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    h2{
        color: v.$negro;
        text-align: center;
        font-weight: 700;
        font-size: 5rem;
    }

}
.content-sections{
    max-width: 10rem;

    gap: 2rem;
    display: flex;
}

.nav-item{
    width: 100%;
    button{
        width: 100%;
        margin: 0;
    }

    @include m.telefono{
        width: auto;
    }
}
